.container {
  margin: 50px 0;
  width: 80%;
}

.card {
  margin: 0 2% !important;
}

.confirmed {
  border-bottom: 5px solid rgba(0,0,255,0.5);
}

.recovered {
  border-bottom: 5px solid rgba(0,255,0,0.5);
}

.deaths {
  border-bottom: 5px solid rgba(255,0,0,0.5);
}

.active {
  border-bottom: 5px solid rgba(255, 72, 0, 0.5);
}

@media (max-width: 1280px) {
  .card {
    margin-bottom: 2% !important;
  }
}